.calculadora {
  border: 3px rgb(0, 0, 0) ridge;
  width: 250px;
  text-align: center;
  background-color: #dbf8d8;
  border-radius: 5px;
}

#textoPantalla {
  width: 185px;
  border: 2px black solid;
  text-align: right;
  position: relative;
  left: 23px;
  padding: 0px 5px;
  background-color: white;
  font-family: "courier new";
  overflow: hidden;
  border-radius: 15px;
}

.calculadora [type="button"] {
  width: 35px;
  padding: 0;
}

.calculadora input.largo {
  color: red;
  width: 60px;
}
