
header{
    background-color: lightgoldenrodyellow;

}
body{
    background-color: rgb(252, 250, 233);
    align-content:  center;
}
.title-msg {
    color: var(--error-color, rgb(255, 94, 0));
    font-size:150%;
    font: bold;
}
.box {
    display: flex;
    flex-direction: column;
    align-content:right;
  }
footer{
    background-color: ivory;
}
.nav-title{
    background-color: rgb(252, 219, 170);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    color: #000;
    font-size: 200%;
}
.nav-menu{
    background-color: rgb(252, 252, 184);
    font-size: 60%;
    font-style: inherit;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightgreen;
}
@media print {
    input[type=submit], input[type=reset], div[type=back] {
        display: none;
    }
    body > header {
        display: none;
    }
    body {
        font-size: 10pt;
    }
}
.flex-container {
    display: flex;
    flex-direction: wrap;
  }
  
  .flex-item-left {
    flex: 50%;
  }
  
  .flex-item-right {
    flex: 50%;
  }
  
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 50%;
    }
  }